# Dependencies and build files
/node_modules
/dist
/release 
*.exe
*.asar


# Logs and system files
.log
.local

# Environment variables
.env
/server/.env

# Operating system files
.DS_Store
Thumbs.db